main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  main .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
  }
  main .form .logo {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 80%;
  }
  main .form .logo img {
    width: 100%;
  }
  main .form h2 {
    font-size: 36px;
    font-weight: 600;
    color: #000D00;
    width: 95%;
    margin-bottom: 40px;
    margin-left: 19%;
  }
  main .form form {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  main .form form label {
    font-size: 16px;
    font-weight: 500;
    color: #000D00;
    margin-bottom: 20px;
  }
  main .form form input {
    font-size: 21px;
    font-weight: 500;
    color: #000D00;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 13, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  main .form form input:focus {
    background-color: #fff;
  }
  main .form form a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 450;
    color: #000D00;
    background-color: #25B21A;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 25px;
  }
  form a:hover {
    background-color: #8b4747; /* Hover olduğunda arka plan rengi değişecek */
    border-radius: 5px; /* Kenarları yuvarlar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Hafif bir gölge ekler */
  }
  main .form .divide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  main .form .divide hr {
    width: 30%;
    height: 1px;
    background-color: rgba(0, 13, 0, 0.5);
  }
  main .form .divide p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 13, 0, 0.5);
  }
  main .form .alternative {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  main .form .alternative a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
    border: 1px solid rgba(0, 13, 0, 0.5);
    border-radius: 10px;
    width: 76%;
    margin-left: 12%;
    
  }
  .alternative a:hover {
    background-color: #f0f0f0; /* Hover olduğunda arka plan rengi değişecek */
    border-radius: 5px; /* Kenarları yuvarlar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Hafif bir gölge ekler */
  }
  
  main .form .alternative a svg {
    font-size: 35px;
    margin-left: -20%;
    
  }
  main .form .alternative a span {
    font-size: 14px;
    font-weight: 450;
    color: #000D00;
    margin-left: -18%;
    
  }
  main .form .alternative a:nth-child(1) {
    fill: #EA4335;
    
  }
  main .form .alternative a:nth-child(2) {
    fill: #3A5897;
  }
  main .form .alternative a:nth-child(3) {
    fill: #007BB6;
  }
  main .form .kvkk {
    margin-top: 25px;
  }
  main .form .kvkk p {
    font-size: 13px;
    font-weight: 400;
    color: #000D00;
    width: 70%;
    margin-left: 13%;
    margin-bottom: 20%;
  }
  main .form .kvkk p a {
    color: #0093E6;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  main .form-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
  }
  main .form-pass .logo {
    margin-bottom: 50px;
    width: 80%;
  }
  main .form-pass .logo img {
    width: 100%;
  }
  main .form-pass .back {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-left: 20%;
  }
  main .form-pass .back svg {
    fill: #000D00;
  }
  main .form-pass .back span {
    font-size: 16px;
    font-weight: 400;
    color: #000D00;
  }
  main .form-pass h2 {
    font-size: 36px;
    font-weight: 600;
    color: #000D00;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 19%;
  }
  main .form-pass form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main .form-pass form label {
    font-size: 16px;
    font-weight: 500;
    color: #000D00;
    margin-bottom: 20px;
    margin-left: 10%;
  }
  main .form-pass form .input {
    position: relative;
  }
  main .form-pass form .input input {
    font-size: 21px;
    font-weight: 500;
    color: #000D00;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 13, 0, 0.5);
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 75%;
    margin-left: 10%;
    padding-right: 40px;
  }
  main .form-pass form .input input:focus {
    background-color: #fff;
  }
  main .form-pass form .input .eyes {
    position: absolute;
    top: 12px;
    right: 82px;
    font-size: 20px;
    
  }
  main .form-pass form .input .eyes span {
    fill: #000D00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  main .form-pass form .input .eyes span#open {
    display: flex;
  }
  main .form-pass form .input .eyes span#close {
    display: none;
  }
  main .form-pass form .input .eyes.show span#open {
    display: none;
  }
  main .form-pass form .input .eyes.show span#close {
    display: flex;
  }
  main .form-pass form .requirements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }
  main .form-pass form .requirements p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 13, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10%;
  
  }
  main .form-pass form .requirements p svg {
    fill: rgba(0, 13, 0, 0.5);
  }
  main .form-pass form button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #25B21A;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 25px;
    margin-left: 10%;
  }
  main .form-pass .kvkk {
    margin-top: 25px;
  
    
  }
  main .form-pass .kvkk p {
    font-size: 15px;
    font-weight: 400;
    color: #000D00;
    width: 80%;
    margin-left: 11%;
    margin-bottom: 20%;
  }
  main .form-pass .kvkk p a {
    color: #0093E6;
  }