main {
    footer {
        margin-top: 100px;
        background-color: map-get($color, "white");
        border-top: 1px solid map-get($color, "main");
        box-shadow: 0px -4px 4px 0px rgba(31, 155, 20, 0.25);
        display: flex;
        justify-content: space-around;
        .footer {
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .up {
                display: flex;
                align-items: flex-start;
                gap: 100px;
                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    .logo {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 210px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        h4 {
                            font-family: 'Dongle', sans-serif;
                            font-size: 28px;
                            font-weight: map-get($font-weight, "b");
                            margin-top: 10px;
                            color: map-get($color, "black");
                        }
                    }
                    .social {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 30px;
                        .social-media {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            align-items: center;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 20px;
                                svg {
                                    width: 100%;
                                    height: 100%;
                                    fill: map-get($color, "black_70");
                                }
                            }
                        }
                        .download {
                            display: flex;
                            gap: 15px;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 25px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .right {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .sect-footer {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        color: map-get($color, "black");
                        h4 {
                            font-size: 16px;
                            font-weight: map-get($font-weight, "b");
                            color: map-get($color, "black");
                        }
                        .content {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            a {
                                font-size: 14px;
                                font-weight: map-get($font-weight, "r");
                                color: map-get($color, "black_70");
                            }
                        }
                    }
                }
            }
            .down {
                padding: 10px 0;
                border-top: 1px solid map-get($color, "main");
                p {
                    font-size: 14px;
                    font-weight: map-get($font-weight, "r");
                    color: map-get($color, "black");
                    text-align: center;
                    a {
                        text-decoration: underline;
                        color: map-get($color, "black_70");
                    }
                }
            }
        }
    }
}