$color:("white": #F5FBF5, "black": #091309, "black_70":rgba(9, 19, 9, 0.70), "red":#AD0000, "main":#1F9B14, "blue": #005C70);
$font: ('Urbanist', sans-serif);
$font-weight: ("r": 400, "m": 500, "b":700);